#listImages {
  display: flex;
}
.image-wrap {
  width: 200px;
  height: 200px;
}
.image-wrap > img {
  width: 100%;
  height: 100%;
}
.btn-more {
  display: none;
}
.label-input {
  display: block;
}